# NOTE NEED TO TAKE THIS FROM EXISTING SERVER 
# .env file to set up your wordpress site
# RENAME THIS file just to .env when deploying, running the docker example 
# Network name
#
# Your container app must use a network conencted to your webproxy
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy
#
# Database Container configuration
# We recommend MySQL or MariaDB - please update docker-compose file if needed.
#
CONTAINER_DB_NAME=ruucm-db-container
# Path to store your database
DB_PATH=/var/lib/mysql
# Root password for your database
MYSQL_ROOT_PASSWORD=46566656
# Database name, user and password for your wordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=hants
MYSQL_PASSWORD=46566656
#
# Wordpress Container configuration
#
CONTAINER_WP_NAME=ruucm-wp-container
# Path to store your wordpress files
WP_CORE=/var/www/html
WP_CONTENT=/var/www/html/wp-content
# Table prefix
WORDPRESS_TABLE_PREFIX=wp_
# Your domain (or domains)
DOMAINS=ellenandhants.com,www.ellenandhants.com
# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=hantsawilliams@gmail.com